<h1>Listing personal_data</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Sex</th>
      <th>Region</th>
      <th>Treasure</th>
      <th>Friend number</th>
      <th>Phone number</th>
      <th>Login password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_data.each do |personal_datum| %>
      <tr>
        <td><%= personal_datum.nickname %></td>
        <td><%= personal_datum.sex %></td>
        <td><%= personal_datum.region %></td>
        <td><%= personal_datum.treasure %></td>
        <td><%= personal_datum.friend_number %></td>
        <td><%= personal_datum.phone_number %></td>
        <td><%= personal_datum.login_password %></td>
        <td><%= link_to 'Show', user_personal_datum_path(:id => personal_datum.id) %></td>
        <td><%= link_to 'Edit', edit_user_personal_datum_path(id: personal_datum.id) %></td>
        <td><%= link_to 'Destroy', user_personal_datum_path(id: personal_datum.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personal datum', new_user_personal_datum_path %>
