<h1>Listing user_task_intermediates</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>User</th>
      <th>Number</th>
      <th>Description</th>
      <th>Is done</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_task_intermediates.each do |user_task_intermediate| %>
      <tr>
        <td><%= user_task_intermediate.task_id %></td>
        <td><%= user_task_intermediate.user_id %></td>
        <td><%= user_task_intermediate.number %></td>
        <td><%= user_task_intermediate.description %></td>
        <td><%= user_task_intermediate.is_done %></td>
        <td><%= link_to 'Show', user_task_intermediate %></td>
        <td><%= link_to 'Edit', edit_user_task_intermediate_path(user_task_intermediate) %></td>
        <td><%= link_to 'Destroy', user_task_intermediate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User task intermediate', new_user_task_intermediate_path %>
