<%= form_for [@user,FirendRelationship.new] do |f| %>
  <% if @firend_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@firend_relationship.errors.count, "error") %> prohibited this firend_relationship from being saved:</h2>

      <ul>
      <% @firend_relationship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :firend %><br>
    <%= f.number_field :firend %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
