<h1>Listing firend_relationships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Firend</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.firend_relationships.each do |firend_relationship| %>
      <tr>
        <td><%= firend_relationship.user_id %></td>
        <td><%= firend_relationship.firend %></td>
        <td><%= link_to 'Show', firend_relationship %></td>
        <td><%= link_to 'Edit', edit_firend_relationship_path(firend_relationship) %></td>
        <td><%= link_to 'Destroy', firend_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Firend relationship', new_firend_relationship_path %>
