<h1>Listing firend_relationships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Firend</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.firend_relationship.each do |firend_relationship| %>
      <tr>
        <td><%= User.find_by_id(firend_relationship.user_id).login %></td>
        <td><%= User.find_by_id(firend_relationship.firend).login %></td>
        <td><%= link_to 'Show', user_firend_relationship_path(:id => firend_relationship.id) %></td>
        <td><%= link_to 'Edit', edit_user_firend_relationship_path(:id => firend_relationship.id) %></td>
        <td><%= link_to 'Destroy', user_firend_relationship_path(:id => firend_relationship.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Firend relationship', new_user_firend_relationship_path %>  | <%= link_to 'Back',users_path %>
